@model CustomerRoleSearchModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Customers.CustomerRoles").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Customer roles");
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Customers.CustomerRoles")
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
        <button type="button" id="delete-selected" class="btn bg-red">
            <i class="fa fa-trash-o"></i>
            @T("Admin.Common.Delete.Selected")
        </button>
        <nop-action-confirmation asp-button-id="delete-selected" />
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.CustomerRoleListButtons })
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "customerroles-grid",
                        UrlRead = new DataUrl("List", "CustomerRole", null),
                        Length = Model.PageSize,
                        LengthMenu = Model.AvailablePageSizes,
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(CustomerRoleModel.Id))
                            {
                                IsMasterCheckBox = true,
                                Render = new RenderCheckBox("checkbox_customerroles"),
                                ClassName =  NopColumnClassDefaults.CenterAll,
                                Width = "50",
                            },
                            new ColumnProperty(nameof(CustomerRoleModel.Name))
                            {
                                Title = T("Admin.Customers.CustomerRoles.Fields.Name").Text,
                                Width = "300"
                            },
                            new ColumnProperty(nameof(CustomerRoleModel.FreeShipping))
                            {
                                Title = T("Admin.Customers.CustomerRoles.Fields.FreeShipping").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.CenterAll,
                                Render = new RenderBoolean()
                            },
                            new ColumnProperty(nameof(CustomerRoleModel.TaxExempt))
                            {
                                Title = T("Admin.Customers.CustomerRoles.Fields.TaxExempt").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.CenterAll,
                                Render = new RenderBoolean()
                            },
                            new ColumnProperty(nameof(CustomerRoleModel.Active))
                            {
                                Title = T("Admin.Customers.CustomerRoles.Fields.Active").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.CenterAll,
                                Render = new RenderBoolean()
                            },
                            new ColumnProperty(nameof(CustomerRoleModel.IsSystemRole))
                            {
                                Title = T("Admin.Customers.CustomerRoles.Fields.IsSystemRole").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.CenterAll,
                                Render = new RenderBoolean()
                            },
                            new ColumnProperty(nameof(CustomerRoleModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("Edit"))
                            }
                        }
                    })

                    <script>
                        $('#delete-selected-action-confirmation-submit-button').bind('click', function () {
                            var postData = {
                                selectedIds: selectedIds
                            };
                            addAntiForgeryToken(postData);
                            $.ajax({
                                cache: false,
                                type: "POST",
                                url: "@(Url.Action("DeleteSelected", "CustomerRole"))",
                                data: postData,
                                error: function (jqXHR, textStatus, errorThrown) {
                                    $('#deleteSelectedFailed-info').text(errorThrown);
                                    $('#deleteSelectedFailed').click();
                                        },
                                complete: function (jqXHR, textStatus) {
                                    updateTable('#customerroles-grid');
                                }
                            });
                            $('#delete-selected-action-confirmation').modal('toggle');
                            return false;
                        });
                    </script>
                    <nop-alert asp-alert-id="deleteSelectedFailed" />            
                </div>
            </div>
        </div>
    </div>
</div>